/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
   /* ==========================================================================
                                    HEADER
   ========================================================================== */
#logo img {
    height: 100px;
    
}

#logo {
     float: left;
     margin-left: 77px;
     margin-top: -15px;
     letter-spacing: -1px;
     font-weight: 500;
     
}


header {
    background-image: url(http://www.cepolina.com/photo/nature/water/sea/depth/5/sea-blue-ocean.jpg);
    height: 520px;
    /* list-style-type: none; */
    background-size: 100% 100%;
    background-origin: content-box;
    margin-top: -15px;
}

h1 {
    font-size: 100px;
    margin: 0 auto;
    color: white;
    font-family: "Open Sans", sans-serif; 
    font-weight: 400;
    padding: 80px 50px 0 0;
    letter-spacing: -5px;
    
} 

h2 {
    font-size: 15px;
    color: white;
    font-family: "Oswald", sans-serif;
    padding-right: 4px;
    margin-top: -20px;
    font-weight: lighter;
}

hgroup {
    text-align: center;
    margin-top: 100px;
    text-decoration: italic;
}



.nav li {
    display: inline;
    color: black;
    padding: 20px 10px;
    float: right;
    
}


nav {
  text-align: right;
  padding: 0 150px 10px 0;
  margin: 10px 0 0;
  font-weight: 800;
  
}

nav a {
    text-decoration: none;
    color: black;
}

h3 {
    font-size: 60px;
    font-family: "Open-Sans", sans-serif;
    letter-spacing: -5px;
    font-weight: 500;
    color: rgb(8 52 90);
    line-height: 120%;
    margin-bottom: 10px;
}

#author-img img{
    border-radius: 100px;
    height:23px;
}

#author-name {
    color:blue;
    font-style: none;
}
#author-name {
  
    font-family: "Oswald", sans-serif;
    font-size:16px;
}

p {
    margin: 32px 0;
}


blockquote {
  
    font-size: 25px;
    color: darkblue;
}
/* ==========================================================================
                            SECTION        
   ========================================================================== */
time {
    text-decoration: underline;
    
}

a.one:link {
    color: blue;
}


a.one:visited {
    color: grey;
}


a.one:hover {
    color: green;
}


a.one:active {
    color: yellow;
}


/**************SIDE BAR******************/
.side-bar {
     float: right;
     width: 35%;
     text-align: center;
     margin: 50px 0 0 0;
}
.aside-pic {
    border-radius: 100px;
}

.social {
    padding: 5px 0 15px 0;
    /*display: -webkit-flex;
    -webkit-justify-content: center;
    */
    word-spacing: 15px;
}  

/******************MAIN ARTICLE******************/

.columns{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main-article {
    width: 62.5%
    
}


/******************BOTTOM SECTION****************/
.bottom-section h3{
    text-align: center;
    font-size: 50px;
    font-family: "Oswald", sans-serif;
}


.bottom-section {
    text-align: right;
    color: black;
    position: relative;
}

.most-pop img {
    opacity: 0.5;
    width: 100%;
    /*position: relative;*/
   
}

.most-pop img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}    

.fig-bottom figure {
    width: 25%;
    float: left;
    background-color: blue;
}

.caption {
    position: absolute;
    top: 360px;
    font-weight: 800;
    color: black;
    font-size: 150%;
    padding-left: 10px;
}



    /*position: absolute;
    bottom: 20px;
    left: 15px;
    width: 250px;
	z-index: -20;
    */

    /*display: -webkit-flex;
    -webkit-justify-content: center;
    */
    
/************************FOOTER******************************/

footer {
    color: white;
    font-size: 12px;
    background-color: rgb(11,38,66);
    
}

footer ul {
    padding-top:10px;
    padding-right: 100px;
    float: right;
}

footer ul li {
    display: inline;

}

footer img {
    padding:10px 0 20px 100px;
    height: 40px;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}