/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */







table {
    width: 100%;
}

tbody td {
            border: 1px solid black;
            width: 12%; padding-bottom: 12%; height: 0;
}

tbody :nth-child(even) td:nth-child(even), 
tbody :nth-child(odd) td:nth-child(odd) {
background-color: #aaa;
}

/********* adding chess pieces********/

:before {
    font-size: 3em;
}

/*td:hover::before {
    background-color: lightgreen;
    
}*/


/****Black Pieces****/

/*rooks*/
#a8:before, #h8:before {
    position: absolute;
    content: "\265C";
}
#a8:hover, #h8:hover {
    background-color: blue;
}

/*knights*/
#b8:before, #g8:before {
    position: absolute;
    content: "\265E"
        
}
#b8:hover, #g8:hover {
    background-color: blue;
}

/*bishops*/
#c8:before, #f8:before {
    position: absolute;
    content: "\265D";
}
#c8:hover, #f8:hover {
    background-color: blue;
}

/*queen*/
#d8:before {
    position: absolute;
    content: "\265B";
}
#d8:hover {
    background-color: blue;
}

/*king*/
#e8:before {
    position: absolute;
    content: "\265A";
}
#e8:hover {
    background-color: blue;
}

/*pawns*/
#a7:before, #b7:before, #c7:before, #d7:before, #e7:before, #f7:before, #g7:before, #h7:before {
    position: absolute;
    content: "\265F";
}
#a7:hover, #b7:hover, #c7:hover, #d7:hover, #e7:hover, #f7:hover, #g7:hover, #h7:hover {
background-color: blue;
}

/******White Pieces******/

/*rooks*/
#a1:before, #h1:before {
    position: absolute;
    content: "\2656";
}
#a1:hover, #h1:hover {
    background-color: blue;
}

/*knights*/
#b1:before, #g1:before {
    position: absolute;
    content: "\2658";
}
#b1:hover, #g1:hover {
    background-color: blue;
}

/*bishops*/
#c1:before, #f1:before {
    position: absolute;
    content: "\2657";
}
#c1:hover, #f1:hover {
    background-color: blue;
}

/*queen*/
#d1:before {
    position: absolute;
    content: "\2655";
}
#d1:hover {
     background-color: blue;
}

/*king*/
#e1:before {
    position: absolute;
    content: "\2654";
}
#e1:hover {
    background-color: blue;
}

/*pawns*/
#a2:before, #b2:before, #c2:before, #d2:before, #e2:before, #f2:before, #g2:before, #h2:before {
    position: absolute;
    content: "\2659";
}

#a2:hover, #b2:hover, #c2:hover, #d2:hover, #e2:hover, #f2:hover, #g2:hover, #h2:hover {

 background-color: blue;
    
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
